<%- include('../includes/head.ejs' )%>

    <body>
        <header class="main-header">
            <%- include('../includes/nav.ejs' )%>
        </header>

        <main>
            <form class="login-form" action="/signup" method="POST">
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" autocomplete="none">
                </div>
                <div class="form-control">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="none">
                </div>
                <button class="btn" type="submit">Signup</button>
            </form>
        </main>
        <%- include('../includes/end.ejs') %>