<%- include('includes/head.ejs' )%>

    <body>
        <header class="main-header">
            <%- include('includes/nav.ejs' )%>
        </header>
        <main>
            <h1>Page not found</h1>
        </main>
        <%- include('includes/end.ejs' )%>