<%- include('includes/head.ejs' )%>

    <body>
        <header class="main-header">
            <%- include('includes/nav.ejs' )%>
        </header>
        <main>
            <h1>Some error occurred</h1>
            <p>We're working on fixing this.</p>
        </main>
        <%- include('includes/end.ejs' )%>