<%- include('../includes/head.ejs' )%>

    <body>
        <header class="main-header">
            <%- include('../includes/nav.ejs' )%>
        </header>

        <main>

        </main>
        <%- include('../includes/end.ejs' )%>